# Environment variables for Docker-compose
# Copy values from .env.template and adjust as needed.

# Database configuration inside Docker network
DATABASE_URL=postgresql://postgres:1234@db:5432/crop_risk_db
DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_NAME=crop_risk_db
DATABASE_USER=postgres
DATABASE_PASSWORD=1234

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

# JWT
SECRET_KEY=your-secret-key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Weather API keys (optional)
ERA5_API_KEY=6d4eca88-92c4-4e01-87d5-f06d2cabc2de
NOAA_API_KEY=avqZJBgcxTZBQYNYlEvDErJDPeaERJJG
IBM_EIS_API_KEY=
LOCAL_STATION_URL=
WEATHER_API_KEY=

# Microsoft planetary computer api
MICROSOFT_PLANETARY_COMPUTER_API_STATIC_DOCUMENT=https://planetarycomputer.microsoft.com/api/stac/v1

# Satellite/EE
GEE_PROJECT=principal-rhino-482514-f1
GEE_SERVICE_ACCOUNT_EMAIL=crop-detection@principal-rhino-482514-f1.iam.gserviceaccount.com
GEE_PRIVATE_KEY_PATH=C:\Users\Riziki\Crop-Prediction-Staging\Gee_Key\principal-rhino-482514-f1-63f143120c82.json
USE_PLANETARY_COMPUTER=true

# SMS/Email
# SMTP_HOST=
# SMTP_PORT=
# SMTP_USER=
# SMTP_PASSWORD=
SMS_PROVIDER=africastalking
SMS_API_KEY=
SMS_USERNAME=

# AWS S3 storage
AWS_ACCESS_KEY_ID=AKIATOPQ4BGWRCOCAVMX
AWS_SECRET_ACCESS_KEY=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
AWS_REGION=eu-north-1
AWS_REGION=crop-monitor-storage-237265226157-eu-north-1-an


# App settings
DEBUG=true
API_V1_STR=/api/v1
PROJECT_NAME=Crop Risk Prediction Platform

# Testing/development flags
TESTING=false
LOG_LEVEL=INFO


MAPBOX_TOKEN=pk.eyJ1Ijoicml6aWtpIiwiYSI6ImNtbXJ3cTh4djExNWEycnIyYmcxNjg0bGYifQ.qihdFuc2PKkQP4GUi9tuaQ
